/*! Resets */
body {
  margin: unset;
}
h1,
h2,
h3 {
  margin: unset;
  font-size: unset;
  font-weight: unset;
}
ul {
  margin: unset;
  padding: unset;
  list-style: none;
}
a {
  color: unset;
  text-decoration: unset;
}
fieldset,
legend {
  all: unset;
  display: block;
  inline-size: 100%;
}
input[type="text"],
input[type="password"],
select {
  all: unset;
  display: block;
  inline-size: 100%;
}
button {
  all: unset;
}
img {
  max-width: 100%;
  vertical-align: top;
}
p {
  margin: unset;
}
strong {
  font-weight: unset;
  font-size: unset;
}
/* ! Typography */
:root {
  font-family: "Roboto", sans-serif;
  /* font-family: "Roboto Serif", serif; */
  font-size: 10px;
}
/* !  Commons (공통적인) */
.type_lineTop {
  border-top: 3px solid var(--color-Primary-80);
}
.type_linkColor {
  color: var(--color-sub-01);
}
.ir {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
.type_btnBg {
  background-color: var(--color-Primary-80);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px;
}
.type_btnBg:hover {
  background-color: var(--color-sub-01);
}
.previous-btn {
  fill: var(--color-Primary-10);
  background-image: url("./image/previous-arrow.svg");
}
.next-btn {
  background-image: url("./image/next-arrow.svg");
}
/* ! CSS Variables */
:root {
  --color-Primary-10: #fff;
  --color-Primary-20: #eee;
  --color-Primary-30: #d9d9d9;
  --color-Primary-40: #999;
  --color-Primary-50: #666;
  --color-Primary-60: #444;
  --color-Primary-70: #333;
  --color-Primary-80: #111;
  --color-sub-01: #556e9b;
  --color-sub-10: #f0f0f0;
  --color-sub-20: #d8d8d8;
}
/* ! Layouts */
.wrapper {
  height: 100vh;
  background-color: var(--color-Primary-10);
}
.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 100px 20px;
}
.l_row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
}
.l_col_9_12 {
  grid-column: auto / span 9;
}
.l_col_6_12 {
  grid-column: auto / span 6;
}
.l_col_3_12 {
  grid-column: auto / span 3;
}
/* ! Components */
.header {
  display: flex;
}
.header-title {
  flex-grow: 1;
}
.title {
  font-size: 8.4rem;
  font-weight: 600;
  line-height: 0.6;
  padding: 10px 0 34px 0;
}
.title-sub {
  margin-left: 5.2rem;
}
.header-menu {
  display: flex;
  gap: 30px;
  color: var(--color-Primary-80);
  font-size: 1.6rem;
  font-weight: 600;
}
.header-list {
  min-width: 150px;
}
.list:hover {
  color: var(--color-sub-01);
}
.list:first-child {
  margin-top: 2px;
}
.header-search-section {
  flex-grow: 1;
}
.search-box {
  background-color: var(--color-Primary-20);
  font-family: "Roboto Serif", serif;
  font-size: 1rem;
  font-weight: 300;
  padding: 6px 4px;
  margin-top: 4px;
}
.header-sns {
  color: var(--color-sub-01);
  margin-top: 10px;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
}
.sns-lists {
  display: flex;
  gap: 4px;
  margin: 6px 0 0 4px;
}
.sns-link {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.sns-link.type_fecebook {
  background-color: slateblue;
}
.sns-link.type_twitter {
  background-color: skyblue;
}
.sns-link.type_instagram {
  background-color: slateblue;
}
.sns-link.type_pinterest {
  background-color: lightcoral;
}
.sns-link.type_youtube {
  background-color: red;
}
.main {
  display: flex;
  flex-direction: column;
}
.side-menu-btn {
  background-image: url("./image/menu_FILL0_wght400_GRAD0_opsz24.svg");
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
}
.highlight-btn {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 6px;
}
.highlight-title {
  color: var(--color-sub-01);
  font-size: 1.6rem;
  font-weight: 700;
}
.highlight-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 30px;
  margin-top: 4px;
}
.highlight-col {
  aspect-ratio: 1/ 1;
  overflow: hidden;
}
.highlight-link {
  position: relative;
  z-index: 1;
}
.highlight-cover {
  object-fit: cover;
}
.highlight-col-title {
  color: var(--color-Primary-10);
  position: absolute;
  display: inline;
  top: 0;
  left: 0;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.8;
  transform: translateY(-26px);
  transition: transform 0.4s;
}
.col-title-sub {
  background-color: var(--color-sub-01);
  padding: 8px;
}
.highlight-col-title:hover {
  color: var(--color-Primary-40);
}
.highlight-link:hover .highlight-col-title {
  transform: translateY(0px);
}
.main-content {
  margin-top: 40px;
  gap: 30px;
}
.highlight-title.type_colorBlack {
  color: var(--color-Primary-80);
}
.contents-card {
  gap: 30px;
  row-gap: 30px;
  margin-top: 4px;
}
.card {
  border-top: 3px solid var(--color-Primary-80);
}
.card:nth-child(1),
.card:nth-child(2) {
  border-top: none;
}
.card-header {
  position: relative;
  margin-top: 6px;
  overflow: hidden;
}
.card-cover {
  aspect-ratio: 1;
}
.card-cover-title {
  position: absolute;
  top: -40px;
  left: 0;
  color: var(--color-Primary-10);
  background-color: var(--color-sub-01);
  font-size: 1.8rem;
  font-weight: 800;
  padding: 8px;
  transition: top 0.4s;
}
.card-link:hover .card-cover-title {
  top: 0;
}
.card-title {
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 24px;
}
.card-description {
  font-family: "Roboto Serif", serif;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 16px 0;
}
.side-contents {
  box-shadow: inset 0 0 20px red;
}
.card-footer-lists {
  display: flex;
  color: var(--color-Primary-50);
  font-family: "Roboto Serif", serif;
  font-size: 1.2rem;
  font-weight: 700;
  gap: 18px;
}
.card-footer-list {
  padding-right: 18px;
  border-right: 2px solid var(--color-Primary-30);
}
.side-content-section {
  background-color: var(--color-sub-10);
}
.side-contents-title {
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 6px;
}
.side-section-header {
  display: flex;
  width: 100%;
}
.side-section-title {
  width: 50%;
  padding: 8px 0 8px 20px;
  font-size: 1.4rem;
  font-weight: 600;
}
.side-section-title:hover {
  color: var(--color-sub-01);
}
.side-section-title:last-child {
  background-color: var(--color-sub-20);
}
.side-section-main {
  padding: 20px;
}
.side-section-storiesCover {
  padding-bottom: 20px;
}
.side-section-storiesHeader {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.storiesTitle-section {
  border-top: 2px solid var(--color-sub-20);
  display: flex;
}
.storiesTitle {
  color: var(--color-sub-20);
  font-size: 3.2rem;
  font-weight: 700;
  padding-right: 16px;
  margin-top: 2px;
}
.storiesDescription {
  font-family: "Roboto Serif", serif;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 2px;
}
.storiesLink:hover .storiesTitle-section {
  border-top: 2px solid var(--color-sub-01);
}
.storiesLink:hover .storiesTitle {
  color: var(--color-sub-01);
}
/* !Mediaqueries */
/*? @media (max-width: 800px)  */
