/* .l_row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
}

.l_row_thin {
  gap: 4px;
}
.l_row_wide {
  gap: 20px;
}

.l_col_12_12 {
  grid-column: auto / span 12;
}
.l_col_11_12 {
  grid-column: auto / span 11;
}
.l_col_10_12 {
  grid-column: auto / span 10;
}
.l_col_9_12 {
  grid-column: auto / span 9;
}
.l_col_8_12 {
  grid-column: auto / span 8;
}
.l_col_7_12 {
  grid-column: auto / span 7;
}
.l_col_6_12 {
  grid-column: auto / span 6;
}
.l_col_5_12 {
  grid-column: auto / span 5;
}
.l_col_4_12 {
  grid-column: auto / span 4;
}
.l_col_3_12 {
  grid-column: auto / span 3;
}
.l_col_2_12 {
  grid-column: auto / span 2;
}
.l_col_1_12 {
  grid-column: auto / span 1;
}  */

/*! Resets */
body {
  margin: unset;
}
img {
  max-width: 100%;
  vertical-align: auto;
}
ul {
  list-style: none;
}
h1,
h2 {
  margin: unset;
  font-size: unset;
  font-weight: unset;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  all: unset;
}
/* ! Typography */
:root {
  font-size: 10px;
}
/* !  Commons (공통적인) */
.button {
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 50px 50px 50px 50px; /* 상단 부분에 대한 반지름만 설정 */
  padding: 10px 20px;
}
.type_black {
  color: var(--color-sub-color10);
  background-color: var(--color-sub-color80);
}
.type_white {
  border: 1px solid var(--color-sub-color80);
  box-sizing: border-box;
}
.type_black:hover {
  transform: scale(1.1);
}
.type_white:hover {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.4);
}
.info_sup {
  font-size: 1.1rem;
}
/* ! CSS Variables */
:root {
  --color-Primary-color01: #ffcdd2;
  --color-sub-color10: #fff;
  --color-sub-color20: #eee;
  --color-sub-color30: #d9d9d9;
  --color-sub-color40: #999;
  --color-sub-color50: #666;
  --color-sub-color60: #444;
  --color-sub-color70: #333;
  --color-sub-color80: #111;
}
/* ! Layouts */
.wrapper {
  height: 100vh;
}
.container {
  margin: 0 auto;
}
.guideLine {
  max-width: 1080px;
  margin: 0 auto;
}
/* ! Components */
.header {
  background-color: var(--color-sub-color80);
  padding: 14px 0;
}
.header-container {
  display: flex;
}
.header-logo {
  width: 140px;
}
.header-menu {
  margin-left: auto;
  display: flex;
  gap: 36px;
  font-size: 1.6rem;
  font-weight: 700;
}
.header-menu-list {
  color: white;
}
.main-banner {
  background-color: var(--color-Primary-color01);
}
.main-banner-description {
  display: flex;
  gap: 40px;
  padding: 40px 0;
}
.banner-section {
  display: flex;
  flex-direction: column;
}
.banner-section-title {
  font-size: 3.4rem;
  font-weight: 900;
}
.banner-section-title-info {
  font-size: 2rem;
  font-weight: 500;
}
.banner-button-section {
  display: flex;
  gap: 10px;
}
.type_banner_infoSup {
  margin-top: auto;
}
.banner-cover {
  max-width: 400px;
  margin-left: auto;
}
/* !Mediaqueries */
/*? @media (max-width: 800px)  */
