/* .l_row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
}

.l_row_thin {
  gap: 4px;
}
.l_row_wide {
  gap: 20px;
}

.l_col_12_12 {
  grid-column: auto / span 12;
}
.l_col_11_12 {
  grid-column: auto / span 11;
}
.l_col_10_12 {
  grid-column: auto / span 10;
}
.l_col_9_12 {
  grid-column: auto / span 9;
}
.l_col_8_12 {
  grid-column: auto / span 8;
}
.l_col_7_12 {
  grid-column: auto / span 7;
}
.l_col_6_12 {
  grid-column: auto / span 6;
}
.l_col_5_12 {
  grid-column: auto / span 5;
}
.l_col_4_12 {
  grid-column: auto / span 4;
}
.l_col_3_12 {
  grid-column: auto / span 3;
}
.l_col_2_12 {
  grid-column: auto / span 2;
}
.l_col_1_12 {
  grid-column: auto / span 1;
}  */

/*! Resets */
body {
  margin: unset;
}
img {
  max-width: 100%;
  vertical-align: auto;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
/* ! Typography */

/* !  Commons (공통적인) */

/* ! Layouts */
.wrapper {
  height: 100vh;
}
.container {
  margin: 0 auto;
}
.guideLine {
  max-width: 1080px;
  margin: 0 auto;
}
/* ! Components */
.header {
  background-color: black;
  padding: 14px 0;
}
.header-container {
  display: flex;
}
.header-logo {
  width: 140px;
}
.header-menu {
  margin-left: auto;
  display: flex;
  gap: 36px;
}
.header-menu-list {
  color: white;
}
/* !Mediaqueries */
/*? @media (max-width: 800px)  */
